@page
@model SharePointModel
@{
    ViewData["Title"] = "SharePoint";
}
<h1>@ViewData["Title"]</h1>

<p>Test page...</p>

@*<div>API result</div>
<div>@ViewData["ApiResult"]</div>
*@
@*<div>Graph API result</div>
<div>@ViewData["GraphApiResult"]</div>
*@
<div>SP CSOM result</div>
<div>@ViewData["SPCsomResult"]</div>